Source: nvidia-persistenced
Section: contrib/utils
Priority: optional
Maintainer: Debian NVIDIA Maintainers <pkg-nvidia-devel@lists.alioth.debian.org>
Uploaders:
 Andreas Beckmann <anbe@debian.org>,
Build-Depends:
 debhelper-compat (= 13),
 pkg-config,
 libtirpc-dev,
 m4,
Rules-Requires-Root: no
Standards-Version: 4.6.2
Homepage: https://github.com/NVIDIA/nvidia-persistenced
Vcs-Browser: https://salsa.debian.org/nvidia-team/nvidia-persistenced
Vcs-Git: https://salsa.debian.org/nvidia-team/nvidia-persistenced.git

Package: nvidia-persistenced
Architecture: amd64 arm64 ppc64el
Multi-Arch: foreign
Pre-Depends:
 ${misc:Pre-Depends}
Depends:
 libnvidia-cfg1 [!i386 !armhf !ppc64el]
 | libnvidia-tesla-cfg1 [amd64 arm64 ppc64el]
 | libnvidia-tesla-470-cfg1 [amd64 arm64 ppc64el]
 | libnvidia-cfg.so.1
 | libnvidia-cfg1-any,
 adduser,
 ${shlibs:Depends},
 ${misc:Depends}
Description: daemon to maintain persistent software state in the NVIDIA driver
 When persistence mode is enabled, the daemon prevents the driver from
 releasing device state when the device is not in use.
 This can improve the startup time of new clients in this scenario.
